body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Arial, sans-serif;
}

.center-text {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(252, 111, 3);
  padding: 0 10px;
  transform: translateY(20px);
  filter: drop-shadow(5px 5px 20px #4444dd);
}

img {
  padding-top: 5%;
}
#text {
  color: magenta;
}

